{% extends 'base.html' %}

{% block title %}Главная - Positive Technologies{% endblock %}

{% block content %}
<div class="hero-section">
    <img src="{{ url_for('static', path='/Ptsecurity_2021.svg') }}" alt="Positive Technologies Security" class="hero-logo">
    <h2>Доверять сильной защите</h2>
    <p>Автоматизированный поиск уязвимостей</p>
    <div class="hero-buttons">
        <a href="{{ url_for('analysis_list') }}" class="btn btn-primary">ВИДЫ АНАЛИЗА <span class="arrow">»</span></a>
        <a href="{{ url_for('cart') }}" class="btn btn-secondary">ЗАЯВКИ <span class="arrow">»</span></a>
    </div>
</div>
{% endblock %}