{% extends 'base.html' %}

{% block title %}{{ service.name }}{% endblock %}

{% block content %}
<div class="content-section">
    <h1 class="page-title">{{ service.name }}</h1>
    <div class="detail-container">
        <div class="detail-image">
            <img src="{{ url_for('static', path='/images/services/' + service.image_key) }}" alt="{{ service.name }}">
        </div>
        <div class="detail-info">
            <h2>Описание</h2>
            <p>{{ service.full_description }}</p>
            <div class="detail-price">
                <span>Стоимость:</span>
                <span class="price">{{ service.price }}</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}